<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WFH_connString_Test" value="Data source=RBSQLTEST01\TRILOGYTEST;database=publisherStaging_new;Trusted_Connection=Yes;" />
    <add key="WFH_connString" value="Data source=PFDEV01;database=WFH_PublisherStaging;Trusted_Connection=Yes;" />
    <add key="WFH_connString1" value="data source=pfwfhsql01;database=WFH_PublisherStaging;Trusted_Connection=Yes;" />

    <add key="RB_connString1" value="Data source=RBSQLUAT01\TRILOGYTEST;database=Publisher_Staging;Trusted_Connection=Yes;" />
    <add key="RB_connString1" value="Data source=RBSQLTEST01\TRILOGYTEST;database=Publisher_Staging;Trusted_Connection=Yes;" />
    <add key="RB_connString" value="Data source=PFDEV01;database=RB_PublisherStaging;Trusted_Connection=Yes;" />
    <add key="RB_connString1" value="Data source=PFSQLCL01;database=Publisher_Staging;Trusted_Connection=Yes;" />

    <add key="cleanedupFilePath1" value="\\pfingestion01\incoming\TitleManagement\TitleIngestionFiles\" />
    <add key="cleanedupFilePath_Prod" value="\\\rbent\wfhowes\Ingestion\TitleIngestion\Files\"/>
    <add key="WFH_cleanedupFilePath1" value="C:\Users\kkoka\Desktop\wfh\harpercollins\cleaned\" />
    <add key="WFH_cleanedupFilePath" value="C:\Users\kkoka\Desktop\to be copied\wfh\harpercollins\cleaned" />

    <add key="Platform" value="Dev"/>




    <add key="RB_cleanedupFilePath_Prod" value="C:\Users\kkoka\Desktop\wfh\harpercollins\cleaned\" />
    <add key="RB_cleanedupFilePath" value="\\pfingestion01\Incoming\TitleManagement\TitleIngestionFiles\" />


    <add key="IngestionSource" value="Please Select the Source, Recorded Books, W F Howes" />
    <add key="Reports_Prod" value="\\pfingestion01\incoming\WFHowes\"/>
    <add key="Reports" value="\\rbent\wfhowes\Ingestion\TitleIngestion\Reports\"/>
    <add key="RB_Reports" value="\\pfingestion01\incoming\TitleManagement\Metadata_Dev\Reports"/>
    <add key="RB_Reports_DEV" value="\\pfingestion01\incoming\TitleManagement\Metadata_Prod\Reports"/>
     
    <add key="ServiceAccount_Domain" value="RBENT"/>
    <add key="ServiceAccount_UserName1" value="WFHIngSVC"/>
    <add key="ServiceAccount_Password1" value="WFH0w3$ing"/>


    <add key="ServiceAccount_UserName" value="kkoka"/>
    <add key="ServiceAccount_Password" value="Ychange13"/>


    <add key="PreInjestionCleanUp" value="TI_PreInjestionProcess" />

    <add key="WFH_Process_Harper_Ebook_UK" value="Process_HarperEbookUK" />
    <add key="WFH_Process_Harper_Ebook_AU" value="Process_HarperEbookAU" />
    <add key="WFH_Process_Penguin_Ebook_UK" value="Process_PenguinEbookUK" />
    <add key="WFH_Process_RandomHouse_Ebook_UK" value="Process_RandomHouseEbookUK" />
    <add key="WFH_Process_Bloomsbury_Ebook_UK" value="Process_BloomsburyEbookUK" />
    <add key="WFH_Process_Macmillan_Ebook_UK" value="Process_MacmillanEbookUK" />
    <add key="WFH_Process_Macmillan_Ebook_AU" value="Process_MacmillanEbookAU" />
    <add key="WFH_Process_FaberFactory_Ebook_UK" value="Process_FaberFactoryEbookUK" />
    <add key="WFH_Process_FaberAndFaber_Ebook_UK" value="Process_FaberAndFaberEbookUK" />
    <add key="WFH_Process_Canongate_Ebook_UK" value="Process_CanongateEbookUK" />
    <add key="WFH_Process_Pottermore_Ebook_UK" value="Process_PottermoreEbookUK" />
    <add key="WFH_Process_SevernHouse_Ebook_UK" value="Process_SevernHouseEbookUK" />
    <add key="WFH_Process_Vearsa_Ebook_UK" value="Process_VearsaEbookUK" />
    <add key="WFH_Process_MyBooks_Ebook_UK" value="Process_MyBooksEbookUK" />
    <add key="WFH_Process_ScribePublications_Ebook_UK" value="Process_ScribePublicationsEbookUK" />
    <add key="WFH_Process_AccentPress_Ebook_UK" value="Process_AccentPressEbookUK" />
    <add key="WFH_Process_BlackBooks_Ebook_UK" value="Process_BlackBooksEbookUK" />
    <add key="WFH_Process_MichaelOMara_Ebook_UK" value="Process_MichaelOMaraEbookUK" />
    <add key="WFH_Process_Harper_eAudio_UK" value="Process_HarpereAudioUK" />
    <add key="WFH_Process_CreativeContent_Ebook_UK" value="Process_CreativeContentEbookUK" />
    <add key="WFH_Process_Penguin_eAudio_UK" value="Process_PenguineAudioUK" />
    <add key="WFH_Process_Pottermore_eAudio_UK" value="Process_PottermoreeAudioUK" />
    <add key="WFH_Process_RandomHouse_eAudio_UK" value="Process_RandomHouseeAudioUK" />
    <add key="WFH_Process_RecordedBooks_eAudio_UK" value="Process_RecordedBookseAudioUK" />
    <add key="WFH_Process_Rebellion_Ebook_UK" value="Process_RebellionEbookUK" />
    <add key="WFH_Process_MichaelOMara_eAudio_UK" value="Process_MichaelOMaraeAudioUK" />

    <add key="WFH_Process_Penguin_eAudio_AU" value="Process_PenguineAudioAU" />
    <add key="WFH_Process_RandomHouse_eAudio_AU" value="Process_RandomHouseeAudioAU" />
    <add key="WFH_Process_YLolfan_Ebook_UK" value="Process_YLolfanEbookUK" />
    <add key="WFH_Process_AlnpeteLimited_Ebook_UK" value="Process_AlnpeteLimitedEbookUK" />
    <add key="WFH_Process_Allen_Unwin_Ebook_UK" value="Process_Allen_UnwinEbookUK" />
    

    <add key="WFH_Process_TantorWFH_eAudio_UK" value="Process_TantorWFHeAudioUK" />
 <add key="WFH_Process_HighbridgeWFH_eAudio_UK" value="Process_HighbridgeWFHeAudioUK" />
 <add key="WFH_Process_GildanWFH_eAudio_UK" value="Process_GildanWFHeAudioUK" />
    <add key="WFH_Process_LionHudson_Ebook_UK" value="Process_LionHudsonEbookUK" />
    <add key="WFH_Process_SimonSchuster_Ebook_AU" value="Process_SimonSchusterEbookAU" />
    <add key="WFH_Process_Dreamscape_eAudio_RB" value="Process_DreamscapeeAudioRB" />
    <add key="WFH_Process_Troubador_Ebook_UK" value="Process_TroubadorEbookUK" />
    <add key="WFH_Process_InfiniteIdeas_Ebook_UK" value="Process_InfiniteIdeasEbookUK" />
    <add key="WFH_Process_RoughGuides_Ebook_UK" value="Process_RoughGuidesEbookUK" />
    <add key="WFH_Process_Oasis_eAudio_RB" value="Process_OasiseAudioRB" />
    <add key="WFH_Process_Lerner_eAudio_RB" value="Process_LernereAudioRB" />
     <add key="WFH_Process_ListenLive_eAudio_RB" value="Process_ListenLiveeAudioRB" />
    <add key="WFH_Process_WalkerBooks_Ebook_UK" value="Process_WalkerBooks_EbookUK" />
    <add key="WFH_Process_SimonSchuster_Ebook_UK" value="Process_SimonSchusterEbookUK" />
    <add key="WFH_Process_LonelyPlanet_Ebook_UK" value="Process_LonelyPlanetEbookUK" />  
    <add key="WFH_Process_Andrews_Ebook_UK" value="Process_AndrewsEbookUK" />
    <add key="WFH_Process_Andrews_eAudio_UK" value="Process_AndrewseAudioUK" />
    <add key="WFH_Process_Sodalite_eAudio_UK" value="Process_SodaliteeAudioUK" />
    <add key="WFH_Process_RandomHouse_Ebook_AU" value="Process_RandomHouseEbookAU" />
    <add key="WFH_Process_Penguin_Ebook_AU" value="Process_PenguinEbookAU" />
    <add key="WFH_Process_Macleod_Trotter_Ebook_UK" value="Process_Macleod_TrotterEbookUK" />
    <add key="WFH_Process_Sodalite_Ebook_UK" value="Process_SodaliteEbookUK" />
    <add key="WFH_Process_LATheatreWorks_eAudio_RB" value="Process_LATheatreWorkseAudioRB" />
    <add key="WFH_Process_Haus_Ebook_UK" value="Process_HausEbookUK" />
    <add key="WFH_Process_Blackstone_eAudio_RB" value="Process_BlackstoneeAudioRB" />
    <add key="WFH_Process_Gingko_Ebook_UK" value="Process_GingkoEbookUK" />
    <add key="WFH_Process_Telos_Ebook_UK" value="Process_TelosEbookUK" />
    <add key="WFH_Process_Gardners_Ebook_UK" value="Process_GardnersEbookUK" />
   
    <add key="WFH_Process_HarperCollinUS_eAudio_RB" value="Process_HarperCollinUSeAudioRB" />

    

    <add key="WFH_Process_PneumaSprings_Ebook_UK" value="Process_PneumaSpringsEbookUK" />
    <add key="WFH_Process_MyBooks_eAudio_RB" value="Process_MyBookseAudioRB" />

    


    <add key="RB_Process_RH_Ebook" value="Process_RandomHouseEbook" />
    <add key="RB_Process_Penquin_Ebook" value="Process_PenguinEbook" />
    <add key="RB_Process_Baker_Ebook" value="Process_BakerEbook" />
    <add key="RB_Process_Hachette_Ebook" value="Process_HachetteEbook" />
    <add key="RB_Process_BarbourEbook" value="Process_BarbourEbook" />
    <add key="RB_Process_SimonSchuster_Ebook" value="Process_SimonSchusterEbook" />
    <add key="RB_Process_HMH_Ebook" value="Process_HMHEbook" />
    <add key="RB_Process_PoisonedPenPress_Ebook" value="Process_PoisonedPenEbook" />
    <add key="RB_Process_Macmillan_Ebook" value="Process_MacmillanEbook" />
    <add key="RB_Process_ChronicleBooks_Ebook" value="Process_ChronicleBooksEbook" />
    <add key="RB_Process_BloomsburyUSA_Ebook" value="Process_BloomsburyEbook" />
    <add key="RB_Process_OpenRoad_Ebook" value="Process_OpenRoadEbook" />
    <add key="RB_Process_DKPublishing_Ebook" value="Process_DKPublishingEbook" />
    <add key="RB_Process_GroundwoodBooks_Ebook" value="Process_GroundwoodEbook" />
    <add key="RB_Process_OrcaEbook" value="Process_OrcaEbook" />
    <add key="RB_Process_GalaxyPress_Ebook" value="Process_GalaxyPressEbook" />
    <add key="RB_Process_Harlequin_Ebook" value="Process_HarlequinEbook" />
    <add key="RB_Process_Perseus_Ebook" value="Process_PerseusEbook" />
    <add key="RB_Process_PerseusDistribution_Ebook" value="Process_PerseusDistributionEbook" />
    <add key="RB_Process_Sourcebooks_Ebook" value="Process_SourcebooksEbook" />
    <add key="RB_Process_ThomasNelson_Ebook" value="Process_ThomasNelsonEbook" />
    <add key="RB_Process_HarperCollinsUK_Ebook" value="Process_HarperCollinsUKEbook" />
    <add key="RB_Process_Zondervan_Ebook" value="Process_ZondervanEbook" />
    <add key="RB_Process_HarperCollins_Ebook" value="Process_HarperCollinsEbook" />
    <add key="RB_Process_RandomHouseDistributed_Ebook" value="Process_RandomHouseDistributedEbook" />
    <add key="RB_Process_ECWPress_Ebook" value="Process_ECWPressEbook" />
    <add key="RB_Process_Abrams_Ebook" value="Process_AbramsEbook" />
    <add key="RB_Process_Wiley_Ebook" value="Process_WileyEbook" />
    <add key="RB_Process_HarperAU_Ebook" value="Process_HarperAUEbook" />
    <add key="RB_Process_Workman_Ebook" value="Process_WorkmanEbook" />
    <add key="RB_ProcessNorthStar_Ebook" value="Process_NorthStarEbook" />
    <add key="RB_Process_Lerner_Ebook" value="Process_LernerEbook" />
    <add key="RB_ProcessTyndale_EBook" value="Process_TyndaleEBook" />
    <add key="RB_Process_PeachTree_Ebook" value="Process_PeachTreeEBook" />
    <add key="RB_Process_Pottermore_Ebook" value="Process_PottermoreEBook" />
    <add key="RB_Process_ChildsWorld_Ebook" value="Process_ChildsWorldEBook" />
   



    <add key="RB_Process_GalaxyPress_EAudio" value="Process_GalaxyPressEAudio" />
    <add key="RB_Process_eChristian_EAudio" value="Process_eChristianEAudio" />
    <add key="RB_Process_Oasis_EAudio" value="Process_OasisEAudio" />
    <add key="RB_ProcessRandomHouse_EAudio" value="Process_RandomHouseEAudio" />
    <add key="RB_Process_Tantor_EAudio" value="Process_TantorEAudio" />
    <add key="RB_Process_SimonSchuster_EAudio" value="Process_SimonSchusterEAudio" />
    <add key="RB_Process_MYBooks_EAudio" value="Process_MYBooksEAudio" />
    <add key="RB_Process_HighBridge_EAudio" value="Process_HighBridgeEAudio" />
    <add key="RB_Process_Hachette_EAudio" value="Process_HachetteEAudio" />
    <add key="RB_Process_Macmillan_EAudio" value="Process_MacmillanEAudio" />
    <add key="RB_Process_HarperCollins_EAudio" value="Process_HarperCollinsEAudio" />
    <add key="RB_Process_Zondervan_EAudio" value="Process_ZondervanEAudio" />
    <add key="RB_Process_ThomasNelson_EAudio" value="Process_ThomasNelsonEAudio" />
    <add key="RB_ProcessBlackstone_EAudio" value="Process_BlackstoneEAudio" />
    <add key="RB_Process_Scholastic_EAudio" value="Process_ScholasticEAudio" />
    <add key="RB_Process_Lerner_EAudio" value="Process_LernerEAudio" />
    <add key="RB_Process_Gildan_EAudio" value="Process_GildaneAudio" />
    <add key="RB_Process_Pottermore_EAudio" value="Process_PottermoreEAudio" />
    <add key="RB_Process_Insatiable_EAudio" value="Process_InsatiableEAudio" />
     <add key="RB_Process_Orca_EAudio" value="Process_OrcaEAudio" />


    <add key="kkoka" value="Admin" />
    <add key="mbeles" value="RB" />
    <add key="WFHIngSVC" value="WFH"/>
    <add key="sagrawal" value="RB" />


    <add key="Ingestion_Accounts_Admin" value="Please Select the Source, Recorded Books, W F Howes" />
    <add key="Ingestion_Accounts_RB" value="Please Select the Source, Recorded Books" />
    <add key="Ingestion_Accounts_WFH" value="Please Select the Source, W F Howes" />

    <add key="SQLFTP_Dev" value="G:\ExtraBackup\"/>
    <add key="SQLFTP" value="\\Pfwfhsql01\FTP\"/>
    <add key="SQLBackUpDatabase" value="WFH_OffRamp"/>

    <add key="SAPDB_FTPLocation" value="\\rbftp01\WFHowesPublishing\WFHSAP_TI\"/>
    <add key="OffRampDB_FTPLocation" value="\\rbftp01\WFHowesPublishing\RB_TI\"/>


    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />






  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>